# Логи ошибок
/logs/

# SQLite база данных
/db/todos.db

# Файлы конфигурации, содержащие секретные данные
.env
config.php

# Системные файлы IDE
.idea/
.vscode/

# Файлы, создаваемые при сборке или минификации
/css/styles.min.css
/js/app.min.js

# Временные файлы
*.swp
*.bak
*.tmp

# Директории для кэша и временных данных
/cache/





# Директории и файлы, игнорируемые в git
/vendor
/.env
/.idea
/.vscode
*.log
*.cache

